@use "../utils/variables" as v;

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
    text-align: center;
    background-color: v.$main-color;

    p {
        margin: 0;
        font-size: 0.75rem;

        a {
            color: #355cdb;
            font-weight: bold;
        }
    }
}